<div class="header-container-wrapper">
  <div class="header-container">
    <div class="custom-header-bg">
      <div class="page-center">
        <div class="logo">Smart File</div>
        <div class="navigation">
          <ul>
            <li><a href="#" class="button click-upload"><i class="fa fa-cloud-upload" aria-hidden="true"></i>Upload</a></li>
            <li><a href="#" class="button open-progress"><i class="fa fa-tasks" aria-hidden="true"></i>Progress</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
