<!DOCTYPE html>
<html>
<head>
	<title>thrain</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}" />

</head>
<body>
<div class="main-container"> 
<div class="header-container-wrapper">
  <div class="header-container">
    <div class="custom-header-bg">
      <div class="page-center">
        <div class="logo">Enhanced Cloud Security</div>
        <div class="navigation">
          <ul>
            <li><a href="upload-file" class="button click-upload"><i class="fa fa-cloud-upload" aria-hidden="true"></i>Upload</a></li>
            <li><a href="register" class="button open-progress"><i class="fa fa-tasks" aria-hidden="true"></i>Register User</a></li>
            <li><a href="public-key-directory" class="button open-progress"><i class="fa fa-download" aria-hidden="true"></i>Download Key</a></li>
            <li><a href="file-directory" class="button open-progress"><i class="fa fa-download" aria-hidden="true"></i>file-directory</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-container-wrapper">
<div class="page-center">
{%if msg != ''%}
		<h3>{{msg}}</h3>
	{%else%}
	<p style="font-size:20px"><b>The following are the different files stored on the cloud:</b></p>
		<table>
			<thead>
				<tr>
					<th>Username</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th>Uploader</th>
				</tr>
			</thead>
			<tbody>
					{%for itr in range(length):%}
					<tr>
						<td><a href="retrieve/key/{{directory[itr]}}">Click here to download public key</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{directory[itr]}}</td>
					</tr>
					{%endfor%}
			</tbody>
		</table>
	{%endif%}
	
</div>
</div>

<div class="footer-container-wrapper">
  <div class="footer-container">
    <div class="custom-footer-bg">
      <div class="page-center">
        <p>@Copyright CS623-Team pi2868 & qv6963</p>
      </div>
    </div>
  </div>
</div>
</div>
	</body>
</html>